html {
  color:black;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box !important;
}

::selection {
  color: $aqua;
  background: $gray;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: $white;
  position: relative;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#canvas {
  display: none;

  @media (min-width: $bp-m){
    display: block;
  }
}

#canvas2 {
  display: block;
  height: 35%;
  bottom: 0;
  @media (min-width: $bp-m){
    display: none;
  }
}

h1 {
  font-size: 24px;
  line-height: 1.8em;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-weight: 600;

  &.resume-header {
    color: $teal;

    .thin {
      font-weight: 300;
    }
  }

  @media (min-width: $bp-m) {
    font-size: 32px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 600;

  &.projects-header {
    width: 50%;
    margin: 24px -15px 12px;
    background: $purple;
    color: $white;
    line-height: 1em;
    padding: 8px 15px 5px;
  }

  &.resume-header {
    color: $teal;
    margin-bottom: 8px;
  }
}


h3 {
  font-size: 20px;
  font-weight: 400;
}

p, 
li {
  font-size: 20px;
  line-height: 1.8em;
  font-weight: 600;

  @media (min-width: $bp-m) {
    font-size: 26px;
  }
}

.container {
  max-width: 100%;
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;

  &.center {
    margin: 0 auto;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
  }
}

[class^="col-"]{
  width:100%;
  flex-grow:0;
}

@media (min-width: $bp-m) {
  .col-8 {
    width: 66.666667%;
  }

  .col-4 {
    width: 33.333333%;
  }
}

.hero {
  height: 100vh;
  overflow: hidden;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  color:black;
  position: relative;
  z-index: 1;

  @media (min-width: $bp-m) {
    justify-content: space-between;
    flex-direction: column;
    justify-content: space-between;
  }

  .peeking {
    margin-top: 50vw;
    display: none;

    @media (min-width: $bp-m) {
      margin-top: 0;
      display: block;
    }
  }
}

.nav{
  display: flex;
 
  @media (min-width: $bp-s) {
    border-bottom: 0 none;
  }

  @media (min-width: $bp-m) {
    padding-top: 20px;
  }
  ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(45deg, #8d00ff,#00d9f7);
    border-image-slice: 1;

    @media (min-width: $bp-m) {
      justify-content: flex-start;
      border-bottom: 0 none;
    }

    li {
      a {
        font-size: 12px;
        padding: 0 10px;
        text-decoration: none;
        color: #000000;
        border-bottom: 2px solid transparent;

        &:hover {
          background-position: 0 calc(100% - 1.5px);
          background-size: auto 3px;
          background-repeat: repeat-x;
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-50%);}}%3C/style%3E%3Cpath fill='none' stroke='black' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
        }

        @media (min-width: $bp-s) {
          font-size: 14px;
          padding: 0 10px;
        }

        @media (min-width: $bp-m ){
          border-bottom: 3px solid transparent;
          font-size: 20px;
        }
      }

      @media (min-width: $bp-m ){
        &:nth-child(1) a {
          // padding-left: 0;
        }
      }
    }

    // li:nth-child(1) a:hover {
    //   border-color: $orange;
    // }

    // li:nth-child(2) a:hover {
    //   border-color: $purple;
    // }

    // li:nth-child(3) a:hover {
    //   border-color: $white;
    // }

    // li:nth-child(4) a:hover {
    //   border-color: $black;
    // }
  }
}

.main a {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid $blue;

  @media (min-width: $bp-m ){
    border-bottom: 3px solid $blue;
  }

  &:hover {
    border-color: transparent;
    background-position: 0 calc(100% - 1.5px);
    background-size: auto 3px;
    background-repeat: repeat-x;
    padding-bottom: 3px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-50%);}}%3C/style%3E%3Cpath fill='none' stroke='black' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  }
}


.main h1 a:nth-of-type(1){
  border-color: $purple;
}

.main h1 a:nth-of-type(1):hover{
  border-color: transparent;
  //background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-50%);}}%3C/style%3E%3Cpath fill='none' stroke='#8D00FF' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
}

.main p a:nth-of-type(1){
  border-color: $orange;
}

.main p a:nth-of-type(1):hover{
  border-color: transparent;
  //background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-50%);}}%3C/style%3E%3Cpath fill='none' stroke='#00D9F7' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
}

.main p a:nth-of-type(2){
  border-color: $teal;
}

.main p a:nth-of-type(2):hover{
  border-color: transparent;
  //background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-50%);}}%3C/style%3E%3Cpath fill='none' stroke='#00A6A6' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
}

.main p a:nth-of-type(3){
  border-color: $yellow;
}

.main p a:nth-of-type(3):hover{
  border-color: transparent;
  //background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-50%);}}%3C/style%3E%3Cpath fill='none' stroke='#EBCF00' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
}

.main p a:nth-of-type(4){
  border-color: $green;
}

.main p a:nth-of-type(4):hover{
  border-color: transparent;
  //background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-50%);}}%3C/style%3E%3Cpath fill='none' stroke='#EB7600' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
}

.shadow {
  text-shadow: 10px 10px 0 rgba(0,0,0,1);
}

.jacob {
  min-width: 1em;
  color: $orange;
  position: relative;
  border-bottom: 3px solid transparent;
  display: inline-block;
  min-width: 1em;
  transition: all 0.125s ease;
}

.jacob:focus {
  outline: none;
  border-color: currentColor;
}

.jacob:after {
  content: 'edit me 🖍';
  min-width: 100px;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 18px;
  z-index: 0;
  transition: all 0.125s ease;
}

.jacob:focus:after {
  display: block;
  opacity: 1;
  top: -36px;
}

.peeking {
  font-size: 30px;
  bottom: 0;
  line-height: 1em;
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  align-self: flex-end;

  @media (min-width: $bp-m) {
    align-self: initial;
    margin-top: 0;
  }
}

// projects-page
// .projects-page {
//   cursor: url("../img/artistic-brush.svg"), auto;
// }
.projects {
  ul {
    li {
      margin:0 0 2em 0;
      a{
        border-color: $black;
      }
    }
  }
}

.tags {
  margin-top: 0.5em;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  .tag {
    font-size: 0.65em;
    line-height: 1;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 3px solid currentColor;
  }
}

label[for="brush-size"]{
  position: fixed;
  display: block;
  right: 1em;
  top: 1em;
}

.brush-controls {
  display: none;

  @media (min-width: $bp-m) {
    display: block;
  }
}
.brush-size {
  position: fixed;
  display:block;
  right: 1em;
  top: 3em;
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  margin: 10px 0;
  width: 200px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: $purple;
  // border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 3px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: $white;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $purple;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: $purple;
  // border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: $white;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: $purple;
  border: 0px solid #000101;
  // border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: $purple;
  border: 0px solid #000101;
  // border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: $white;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: $purple;
}
input[type=range]:focus::-ms-fill-upper {
  background: $purple;
}


/* resume-page */
.resume-page  {
  
  .email,
  .phone,
  .website {
    a {
      text-decoration: none;
      color: #000000;
      margin-bottom: 8px;
      display: block;
    }
  }

  h1 {
    margin-bottom: 8px;
    line-height: 1em;
  }

  

  .work {
    padding-right: 20px;
  }

  .position {
    margin-bottom: 32px;
  }

  .education {
    margin-top: 32px;
  }

  .experience-title {
    color: $teal;
    margin-bottom: 0.5em;

    a {
      text-decoration: none;
      color: currentColor;

      &:hover {
        color: $black;
      }
    }
  }
  
  .experience-dates,
  .education-title {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 1em;
  }

  ul {
    list-style: normal;
    padding-left: 30px;
  }

  li, p {
    font-size: 14px;
    font-weight: 400;

    @media (min-width: $bp-m) {
      font-size: 14px;
    }
  }

  h4{
    font-weight: 600;
    margin:20px 0 0em;
  }

  .skills h4 {
    margin-bottom: 1em;
  }

  .skills ul {
      list-style: none;
      padding: 0;
    }
    .skills li{
      margin: 0 0 5px 0;
      padding-left:15px;
      position: relative;
    }
    .skills li::after{
      content:'>';
      font-weight: 600;
      display: block;
      position: absolute;
      left: 0;
      top:0;
      color: $teal;
    }

  .flex {
    margin-top: 32px;
  }

  .pdf-save {
    display: block;
    text-decoration: none;
    color: $teal;
    text-align: center;
    margin: 32px auto;
    width: 120px;
    cursor: pointer;

    &:hover {
      color: $black;
    }

    &:hover svg path {
      fill: $black;
    }
  }
}