<!--
    ___       ___       ___       ___       ___   
   /\  \     /\  \     /\  \     /\  \     /\  \  
  _\:\  \   /::\  \   /::\  \   /::\  \   /::\  \ 
 /\/::\__\ /::\:\__\ /:/\:\__\ /:/\:\__\ /::\:\__\
 \::/\/__/ \/\::/  / \:\ \/__/ \:\/:/  / \:\::/  /
  \/__/      /:/  /   \:\__\    \::/  /   \::/  / 
             \/__/     \/__/     \/__/     \/__/  

   /\__\     /\  \     /\  \     /\  \     /\  \     /\  \  
  /:/__/_   /::\  \   /::\  \   /::\  \   _\:\  \   /::\  \ 
 /::\/\__\ /::\:\__\ /::\:\__\ /::\:\__\ /\/::\__\ /\:\:\__\
 \/\::/  / \/\::/  / \;:::/  / \;:::/  / \::/\/__/ \:\:\/__/
   /:/  /    /:/  /   |:\/__/   |:\/__/   \:\__\    \::/  / 
   \/__/     \/__/     \|__|     \|__|     \/__/     \/__/  

jacob.patrick.harris@gmail.com
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jacob Harris is a Web Developer</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="css/jacob.min.css">
</head>